[Desktop Entry]
Encoding=UTF-8
Name=Package Manager (Gfpm)
Comment=Graphical Frugalware Package Manager
Exec=gksu gfpm
Terminal=false
Type=Application
StartupNotify=true
Icon=gfpm
Categories=Application;GTK;Settings;X-GNOME-SystemSettings;
MimeType=
OnlyShowIn=GNOME;XFCE;
